<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>alabama</title>
    </head>
    <body>
        <div><br><span id="al">Alabama: Yellowhammer State<br>Capital: Montgomery</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://cdn.thinglink.me/api/image/634056493703888898/1240/10/scaletowidth"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
