<!DOCTYPE html>

<html>
    <head>
      <link rel="stylesheet" href="static/style.css">
      <title>US State Capitals & Nicknames</title>
    </head>
    <body>
        <div><br><span id="title">State Capitals and Nicknames</span></div>
        <fieldset id="form">
            <img alt="{{ top }}" src="https://memegen.link/joker/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?font=impact"/>
        </fieldset>
        <div id="logout" style="text-align: center"><a href="/login">Log In</a></div>
        <div id="logout" style="text-align: center"><a href="/register">Register</a></div>
		<div id="note" style="text-align: left">® NASA images</div>
    </body>
</html>
