<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>arkansas</title>
    </head>
    <body>
        <div><br><span id="ar">Arkansas: The Natural State<br>Capital: Little Rock</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/originals/e7/ca/ed/e7caed904318caeb89cd1c262b268b07.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
