<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>california</title>
    </head>
    <body>
        <div><br><span id="ca">California: The Golden State<br>Capital: Sacramento</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/736x/92/0c/37/920c37a9672550c12e27eb9f76c62a0f--california-road-trips-california-love.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
