<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>connecticut</title>
    </head>
    <body>
        <div><br><span id="ct">Connecticut: The Constitution State<br>Capital: Hartford</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/originals/ec/5a/de/ec5adec68d9a005d14975a60da19d726.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
