<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>delaware</title>
    </head>
    <body>
        <div><br><span id="de">Delaware: The First State<br>Capital: Dover</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="http://www.aaccessmaps.com/images/maps/us/md/delemaryland/delemaryland.gif"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
