<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>florida</title>
    </head>
    <body>
        <div><br><span id="fl">Florida: The Sunshine State<br>Capital: Tallahassee</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="http://ontheworldmap.com/usa/state/florida/pictorial-travel-map-of-florida.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
