<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>georgia</title>
    </head>
    <body>
        <div><br><span id="ga">Georgia: The Peach State<br>Capital: Atlanta</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="http://ontheworldmap.com/usa/state/georgia/pictorial-travel-map-of-georgia.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
