<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>hawaii</title>
    </head>
    <body>
        <div><br><span id="hi">Hawaii: The Aloha State<br>Capital: Honolulu</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/736x/63/01/7f/63017f3b6cb635ed69704a148a66a3c6--hawaii-vintage-vintage-hawaiian.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
