<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>idaho</title>
    </head>
    <body>
        <div><br><span id="id">Idaho: The Gem State<br>Capital: Boise</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/564x/67/11/97/671197436a144dd8a2a78db97e46b2d0--idaho-usa-illustrated-maps.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
