<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>indiana</title>
    </head>
    <body>
        <div><br><span id="in">Indiana: The Hoosier State<br>Capital: Indianapolis</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/originals/26/59/e9/2659e988950f654b79baf4117a2e4e42.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
