<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>kansas</title>
    </head>
    <body>
        <div><br><span id="ks">Kansas: The Sunflower State<br>Capital: Topeka</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/736x/3f/dd/ef/3fddefb84092f727654029cfdefc6343--topeka-kansas-kansas-usa.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
