<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>kentucky</title>
    </head>
    <body>
        <div><br><span id="ky">Kentucky: The Bluegrass State<br>Capital: Frankfort</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/originals/70/ff/51/70ff515f2ca06e0a126715e2360d972f.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
