<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>louisiana</title>
    </head>
    <body>
        <div><br><span id="la">Louisiana: The Pelican State<br>Capital: Baton Rouge</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/originals/7d/15/9b/7d159b6a07c13cf7bf484a031d0566be.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
