<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>massachusetts</title>
    </head>
    <body>
        <div><br><span id="ma">Massachusetts: The Bay State<br>Capital: Boston</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="http://ontheworldmap.com/usa/state/massachusetts/pictorial-travel-map-of-massachusetts.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
