<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>maine</title>
    </head>
    <body>
        <div><br><span id="me">Maine: The Pine Tree State<br>Capital: Augusta</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/736x/19/31/40/193140abadf15a3a3211fa389ec48311--portland-maine-kennebunkport-maine.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
