<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>michigan</title>
    </head>
    <body>
        <div><br><span id="mi">Michigan: The Great Lakes State<br>Capital: Lansing</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/originals/c2/b4/49/c2b449d16d21cd34f5eabfb7b0f2e4a6.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
