<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>minnesota</title>
    </head>
    <body>
        <div><br><span id="mn">Minnesota: The North Star State<br>Capital: St. Paul</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/originals/76/cd/b6/76cdb66afc068525f2a8a8de1ddf3af0.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
