<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
        <title>Missouri</title>
    </head>
    <body>
        <div><br><span id="mo">Missouri: The Show Me State<br>Capital: Jefferson City</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="http://www.auctions.glasstrio.com/stuff/j/j_mo_state_map_95751.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
