<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>montana</title>
    </head>
    <body>
        <div><br><span id="mt">Montana: The Treasure State<br>Capital: Helena</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://2.bp.blogspot.com/-YSPhnT8jaTQ/VpLSEsXUtxI/AAAAAAAAeYw/7MjEj9TU-Uk/s1600/UNITED%2BSTATES%2B%2528Montana%2529%2B-%2BMontana%2Bmap%2Band%2Bflag.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
