<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>north dakota</title>
    </head>
    <body>
        <div><br><span id="nd">North Dakota: The Peace Garden State<br>Capital: Bismarck</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="http://www.maps-of-the-usa.com/maps/usa/north-dakota/detailed-travel-illustrated-map-of-north-dakota-state-preview.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
