<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>nebraska</title>
    </head>
    <body>
        <div><br><span id="ne">Nebraska: The Cornhusker State<br>Capital: Lincoln</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://www.catsmeow.com/sites/default/files/styles/product_zoom/public/RA675_1.png?itok=Q3Gdzhg1"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
