<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>newjersey</title>
    </head>
    <body>
        <div><br><span id="nj">New Jersey: The Garden State<br>Capital: Trenton</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="http://www.worldatlas.com/webimage/countrys/namerica/usstates/lgcolor/njcolor.gif"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
