<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>nevada</title>
    </head>
    <body>
        <div><br><span id="nv">Nevada: The Silver State<br>Capital: Carson City</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/564x/1a/7e/98/1a7e98672572c4b468ca16b1bf3b7076--usa-maps-our-country.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
