<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>newyork</title>
    </head>
    <body>
        <div><br><span id="ny">New York: The Empire State<br>Capital: Albany</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/originals/c5/04/45/c5044506e26a6e67bd015fbdf2fce007.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
