<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>oklahoma</title>
    </head>
    <body>
        <div><br><span id="ok">Oklahoma: The Sooner State<br>Capital: Oklahoma City</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/originals/bc/91/52/bc91527ff33f5c10d3990c09fe625318.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
