<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>pennsylvania</title>
    </head>
    <body>
        <div><br><span id="pa">Pennsylvania: The Keystone State<br>Capital: Harrisburg</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="http://s3.amazonaws.com/libapps/accounts/13550/images/pennsylvania_post_card_map.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
