<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>rhodeisland</title>
    </head>
    <body>
        <div><br><span id="ri">Rhode Island: The Ocean State<br>Capital: Providence</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="http://3.bp.blogspot.com/-h4P2crs4oPo/UWU6ok0WvpI/AAAAAAAADXs/5Bzh3Tfd3UQ/s1600/rhode-island-postcard-map-1.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
