<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>tennessee</title>
    </head>
    <body>
        <div><br><span id="tn">Tennessee: The Volunteer State<br>Capital: Nashville</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/originals/56/f3/38/56f33826b4c1b795986e0d687b743259.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
