<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>vermont</title>
    </head>
    <body>
        <div><br><span id="vt">Vermont: The Green Mountain State<br>Capital: Montpelier</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/736x/67/a2/20/67a2209a6831c1d0222b496a21012657--places-in-america-best-places-to-eat.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
