<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>washington</title>
    </head>
    <body>
        <div><br><span id="wa">Washington: The Evergreen State<br>Capital: Olympia</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="http://www.nationsonline.org/maps/USA/Washington_map.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
