<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>wisconsin</title>
    </head>
    <body>
        <div><br><span id="wi">Wisconsin: The Badger State<br>Capital: Madison</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="https://i.pinimg.com/736x/7c/ee/69/7cee691ab7ec33d3e61dffba9c330e5b--map-crafts-visual-learning.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
