<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/style1.css">
    <title>westvirginia</title>
    </head>
    <body>
        <div><br><span id="wv">West Virginia: The Mountain State<br>Capital: Charleston</span></div>
        <fieldset id="state">
		    <span><img style="width: 100%;text-align: center" src="http://ontheworldmap.com/usa/state/west-virginia/pictorial-travel-map-of-west-virginia.jpg"></span>
		</fieldset>
		<div id="home" style="text-align: center"><a href="/back">Home</a></div>
    </body>
</html>
